/*----Menu Index----*/

.menu{
    ul {
        text-align: center;
        font-size: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
        li {
            margin: 4px;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}